In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

##### we taken dataset from Quikr

In [2]:
car=pd.read_csv("E:/car_prediction project/car_Raw_dataset.csv")

In [3]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
car.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [7]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [8]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [9]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [10]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [11]:
car['name'].unique()

array(['Hyundai Santro Xing XO eRLX Euro III', 'Mahindra Jeep CL550 MDI',
       'Maruti Suzuki Alto 800 Vxi',
       'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
       'Ford EcoSport Titanium 1.5L TDCi', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente 1.5L TDCi',
       'Maruti Suzuki Alto K10 VXi AMT', 'Skoda Fabia Classic 1.2 MPI',
       'Maruti Suzuki Stingray VXi', 'Hyundai Elite i20 Magna 1.2',
       'Mahindra Scorpio SLE BS IV', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Maruti Suzuki Alto 800',
       'Hyundai i20 Sportz 1.2', 'Maruti Suzuki Alto 800 Lx',
       'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Alto LX',
       'Mahindra Bolero DI', 'Maruti Suzuki Swift Dzire ZDi',
       'Mahindra Scorpio S10 4WD', 'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor',
       'Toyota Innova 2.0 G 8 STR BS IV', 'Renault Lodgy 85 PS RXL',
       'Skoda Yeti Ambition 2.0 TDI CR 4x2',
       'Maruti Suzuki Baleno Delta 1.2',
       'Renault Duster 110 PS RxZ Diesel Plus',
       'Renault Duster 85 PS RxE Diesel', 'Honda City 1.5 S MT',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5 SX i DTEC',
       'Honda City', 'Datsun Redi GO S', 'Maruti Suzuki SX4 ZXI MT',
       'Mitsubishi Pajero Sport Limited Edition',
       'Maruti Suzuki Swift VXi 1.2 ABS BS IV', 'Honda City ZX CVT',
       'Maruti Suzuki Wagon R LX BS IV', 'Tata Indigo eCS LS CR4 BS IV',
       'Volkswagen Polo Highline Exquisite P',
       'I want to sell my car Tata Zest', 'Chevrolet Spark LS 1.0',
       'Renault Duster 110PS Diesel RxZ', 'Mini Cooper S 1.6',
       'Skoda Fabia 1.2L Diesel Ambiente', 'Renault Duster',
       'Mahindra Scorpio S4', 'Mahindra Scorpio VLX 2WD BS IV',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline Plus 1.5 Diesel AT',
       'Hyundai i20 Magna', 'Toyota Corolla Altis Diesel D4DG',
       'Hyundai Verna Transform SX VTVT',
       'Toyota Corolla Altis Petrol Ltd', 'Honda City 1.5 EXi New',
       'Skoda Fabia 1.2L Diesel Elegance', 'BMW 3 Series 320i',
       'Maruti Suzuki A Star Lxi', 'Toyota Etios GD',
       'Ford Figo Diesel EXI Option',
       'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
       'Chevrolet Beat LT Diesel', 'BMW 7 Series 740Li Sedan',
       'Mahindra XUV500 W8 AWD 2013', 'Hyundai i10 Magna 1.2',
       'Hyundai Verna Fluidic New', 'Maruti Suzuki Swift VXi 1.2 BS IV',
       'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga Vxi',
       'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Alto LXi BS III',
       'Hyundai Grand i10 Asta 1.1 CRDi', 'Honda Amaze 1.2 S i VTEC',
       'Hyundai i20 Asta 1.4 CRDI 6 Speed', 'Ford Figo Diesel EXI',
       'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Ertiga ZXi',
       'Maruti Suzuki Esteem LXi BS III', 'Maruti Suzuki Ritz VXI',
       'Maruti Suzuki Ritz LDi', 'Maruti Suzuki Dzire VDI',
       'Toyota Etios Liva G', 'Hyundai i20 Sportz 1.4 CRDI',
       'Chevrolet Spark', 'Nissan Micra XV', 'Maruti Suzuki Swift',
       'Honda Amaze 1.5 S i DTEC', 'Chevrolet Beat', 'Toyota Corolla',
       'Honda City 1.5 V MT', 'Ford EcoSport Trend 1.5L TDCi',
       'Hyundai i20 Asta 1.2', 'Tata Indica V2 eLS',
       'Maruti Suzuki Alto 800 Lxi', 'Hindustan Motors Ambassador',
       'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
       'Toyota Innova 2.5 GX BS IV 7 STR',
       'Volkswagen Jetta Highline TDI AT',
       'Volkswagen Polo Comfortline 1.2L P', 'Volkswagen Polo',
       'Mahindra Scorpio', 'Nissan Sunny', 'Hyundai Elite i20',
       'Renault Kwid', 'Mahindra Scorpio VLX Airbag',
       'Chevrolet Spark LT 1.0', 'Datsun Redi GO T O',
       'Maruti Suzuki Swift RS VDI', 'Fiat Punto Emotion 1.2',
       'Hyundai i10 Sportz 1.2', 'Chevrolet Beat LT Opt Diesel',
       'Chevrolet Beat LS Diesel', 'Tata Indigo CS',
       'Maruti Suzuki Swift VDi', 'Hyundai Eon Era Plus',
       'Mahindra XUV500', 'Ford Fiesta', 'Maruti Suzuki Wagon R',
       'Hyundai i20', 'Tata Indigo eCS LX TDI BS III',
       'Hyundai Fluidic Verna 1.6 CRDi SX',
       'Commercial , DZire LDI, 2016, for sale', 'Fiat Petra ELX 1.2 PS',
       'Hyundai Santro Xing XS', 'Maruti Suzuki Ciaz VXi Plus',
       'Maruti Suzuki Zen VX', 'Hyundai Creta 1.6 SX Plus Petrol',
       'Tata indigo ecs LX, 201', 'Mahindra Scorpio SLX',
       'Toyota Innova 2.5 G BS III 8 STR',
       'Maruti Suzuki Wagon R LXI BS IV', 'Tata Nano Cx BSIV',
       'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Wagon R LXi BS III',
       'Maruti Suzuki Swift VXI BSIII',
       'Tata Sumo Victa EX 10 by 7 Str BSIII', 'MARUTI SUZUKI DESI',
       'Volkswagen Passat Diesel Comfortline AT',
       'Renault Scala RxL Diesel Travelogue',
       'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
       'Hyundai i20 Active 1.2 SX', 'Mahindra Xylo E4',
       'Mahindra Jeep MM 550 XDB', 'Mahindra Bolero SLE BS IV',
       'Force Motors Force One LX ABS 7 STR', 'Maruti Suzuki SX4',
       'Toyota Etios', 'Honda City ZX VTEC',
       'Maruti Suzuki Wagon R LX BS III', 'Honda City VX O MT Diesel',
       'Mahindra Thar CRDe 4x4 AC',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Mercedes Benz GLA Class 200 CDI Sport',
       'Land Rover Freelander 2 SE', 'Renault Kwid RXT',
       'Tata Aria Pleasure 4X2', 'Mercedes Benz B Class B180 Sports',
       'Datsun GO T O', 'Honda Jazz VX MT',
       'Hyundai i20 Active 1.4L SX O', 'Mini Cooper S',
       'Maruti Suzuki Ciaz ZXI Plus', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold Select Variant',
       'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Esteem VXi BS III',
       'Chevrolet Enjoy 1.4 LS 8 STR', 'Maruti Suzuki Wagon R 1.0 VXi',
       'Nissan Terrano XL D Plus', 'Renault Duster 85 PS RxL Diesel',
       'Maruti Suzuki Dzire ZXI', 'Renault Kwid RXT Opt',
       'Maruti Suzuki Maruti 800 Std', 'Renault Kwid 1.0 RXT AMT',
       'Renault Scala RxL Diesel',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
       'Chevrolet Beat LS Petrol', 'Hyundai Accent GLX', 'Yama',
       'Maruti Suzuki Swift LDi', 'Mahindra TUV300 T4 Plus',
       'Tata Indica V2 Xeta e GLE', 'Tata Indigo CS LS DiCOR',
       'Mahindra Scorpio VLX Special Edition BS III',
       'Tata Indica eV2 LS', 'Honda Accord',
       'Ford EcoSport Titanium 1.5 TDCi', 'Maruti Suzuki Ertiga',
       'Mahindra Scorpio 2.6 CRDe', 'Honda Mobilio',
       'Toyota Corolla Altis', 'Skoda Laura', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Vitara Brezza', 'Tata Manza Aura Quadrajet',
       'Chevrolet Sail UVA Petrol LT ABS',
       'Hyundai Verna Fluidic 1.6 VTVT SX',
       'Audi A4 2.0 TDI 177bhp Premium', 'Hyundai Elantra SX',
       'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra KUV100 K8 D 6 STR',
       'Hyundai Grand i10', 'Hyundai i10', 'Hyundai i20 Active',
       'Datsun Redi GO', 'Toyota Etios Liva', 'Hyundai Accent',
       'Hyundai Verna', 'Toyota Fortuner', 'Hyundai i10 Sportz',
       'Mahindra Bolero Power Plus SLE', 'selling car Ta',
       'Honda City 1.5 V MT Exclusive', 'Chevrolet Spark LT 1.0 Airbag',
       'Tata Indigo eCS VX CR4 BS IV', 'Tata Zest 90',
       'Skoda Rapid Elegance 1.6 TDI CR MT', 'Tata Vista Quadrajet VX',
       'Maruti Suzuki Alto K10 VXi AT', 'Maruti Suzuki Zen LXi BS III',
       'Maruti Suzuki Swift Dzire Tour LDi', 'Honda City ZX EXi',
       'Chevrolet Beat Diesel', 'Maruti Suzuki Swift Dzire car',
       'Hyundai Verna 1.4 VTVT', 'Toyota Innova 2.5 E MS 7 STR BS IV',
       'Maruti Suzuki Maruti 800 Std – Befo',
       'Hyundai Elite i20 Asta 1.4 CRDI',
       'Maruti Suzuki Swift Dzire Tour (Gat',
       'Maruti Suzuki Versa DX2 8 SEATER BSIII',
       'Tata Indigo LX TDI BS III',
       'Volkswagen Vento Konekt Diesel Highline',
       'Mercedes Benz C Class 200 CDI Classic', 'URJE',
       'Hyundai Santro Xing GLS', 'Maruti Suzuki Omni Limited Edition',
       'Hyundai Sonata Transform 2.4 GDi MT',
       'Hyundai Elite i20 Sportz 1.2', 'Honda Jazz S MT',
       'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
       'Maruti Suzuki Zen LXi BSII',
       'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
       'Swift Dzire Tour 27 Dec 2016 Regis', 'Maruti Suzuki Alto K10 VXi',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT', 'Mahindra XUV500 W8',
       'Hyundai i20 Magna O 1.2', 'Renault Duster 85 PS RxL Explore LE',
       'Honda Brio V MT', 'Mahindra TUV300 T8',
       'Nissan X Trail Select Variant', 'Ford Ikon 1.3 CLXi NXt Finesse',
       'Toyota Fortuner 3.0 4x4 MT', 'Tata Manza ELAN Quadrajet',
       'Tata zest x', 'Mahindra xyl',
       'Mercedes Benz A Class A 180 Sport Petrol', 'Tata Indigo LS',
       'Hyundai i20 Magna 1.2', 'Used Commercial Maruti Omn',
       'Honda Amaze 1.5 E i DTEC', 'Hyundai Verna 1.6 EX VTVT',
       'BMW 5 Series 520d Sedan', 'Skoda Superb 1.8 TFSI AT',
       'Audi Q3 2.0 TDI quattro Premium', 'Mahindra Bolero DI BSII',
       'Maruti Suzuki Zen Estilo LXI Green CNG',
       'Ford Figo Duratorq Diesel Titanium 1.4',
       'Maruti Suzuki Wagon R VXI BS IV', 'Mahindra Logan Diesel 1.5 DLS',
       'Tata Nano GenX XMA', 'Honda City SV', 'Ford Figo Petrol LXI',
       'Hyundai i10 Magna 1.2 Kappa2', 'Toyota Corolla H2',
       'Maruti Suzuki Swift Dzire Tour VXi', 'Tata Indigo CS eLS BS IV',
       'Hyundai Xcent Base 1.1 CRDi', 'Hyundai Accent Executive Edition',
       'Tata Zest XE 75 PS Diesel', 'Maruti Suzuki Dzire LDI',
       'Tata Sumo Gold LX BS IV', 'Toyota Corolla Altis GL Petrol',
       'Maruti Suzuki Eeco 7 STR', 'Toyota Fortuner 3.0 4x2 MT',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron XZ',
       'Maruti Suzuki 800', 'Honda Mobilio S i DTEC',
       'Hyundai Verna 1.6 CRDI E', 'Maruti Suzuki Omni Select Variant',
       'Tata Indica', 'Hyundai Santro Xing', 'Maruti Suzuki Zen Estilo',
       'Honda Brio VX AT', 'Maruti Suzuki Wagon R Select Variant',
       'Tata Nano Lx BSIV', 'Jaguar XE XE Portfolio',
       'Hyundai Xcent S 1.2', 'Hyundai Eon Magna Plus',
       'Maruti Suzuki Ritz GENUS VXI',
       'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
       'Hyundai Eon D Lite Plus', 'Honda Amaze 1.2 VX i VTEC',
       'Maruti Suzuki Estilo VXi ABS BS IV',
       'Maruti Suzuki Vitara Brezza LDi O', 'Toyota Innova 2.0 V',
       'Hyundai Creta 1.6 SX Plus Petrol AT', 'Mahindra Scorpio Vlx BSIV',
       'Mitsubishi Lancer 1.8 LXi', 'Maruti Suzuki Maruti 800 AC',
       'Maruti Suzuki Alto 800 LXI CNG O', 'Ford Fiesta SXi 1.6 ABS',
       'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Estilo LX BS IV',
       'Audi A6 2.0 TDI Premium', 'Maruti Suzuki Alto',
       'Maruti Suzuki Baleno Sigma 1.2', 'Hyundai Verna 1.6 SX VTVT AT',
       'Maruti Suzuki Swift GLAM', 'Hyundai Getz Prime 1.3 GVS',
       'Hyundai Santro', 'Hyundai Getz Prime 1.3 GLX',
       'Chevrolet Beat PS Diesel', 'Ford EcoSport Trend 1.5 Ti VCT',
       'Tata Indica V2 DLG', 'BMW X1 xDrive20d xLine',
       'Honda City 1.5 V AT', 'Tata Nano', 'Chevrolet Cruze LTZ AT',
       'Hyun', 'Maruti Suzuki Swift Dzire VDi', 'Mahindra XUV500 W10',
       'Maruti Suzuki Alto K10 LXi CNG', 'Hyundai Accent GLE',
       'Force Motors One SUV', 'Datsun Go Plus T O',
       'Chevrolet Spark 1.0 LT', 'Toyota Etios Liva GD',
       'Renault Duster 85PS Diesel RxL Optional with Nav',
       'Chevrolet Enjoy', 'BMW 5 Series 530i', 'Chevrolet Cruze LTZ',
       'Jeep Wrangler Unlimited 4x4 Diesel',
       'Hyundai Verna VGT CRDi SX ABS', 'Maruti Suzuki Omni',
       'Maruti Suzuki Celerio VDi', 'Tata Zest Quadrajet 1.3',
       'Tata Indigo CS eLX BS IV', 'Hyundai i10 Era',
       'Tata Indigo eCS LX CR4 BS IV', 'Tata Indigo Marina LS',
       'Commercial Chevrolet Sail Hatchback ca', 'Hyundai Xcent SX 1.2',
       'Tata Nano LX Special Edition', 'Commercial Car Ta',
       'Renault Duster 110 PS RxZ Diesel',
       'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Alto K10 New',
       'tata Indica', 'Mahindra Xylo E8', 'Tata Manza Aqua Quadrajet',
       'Used bt new conditions ta', 'Renault Kwid 1.0', 'Sale tata',
       'Tata Venture EX 8 STR', 'Maruti Suzuki Swift Dzire Tour LXi',
       'Maruti Suzuki Alto LX BSII', 'Skoda Octavia Classic 1.9 TDI MT',
       'Maruti Suzuki Omni LPG BS IV', 'Tata Sumo Gold EX BS IV',
       'Tata indigo 2017 top model..', 'Hyundai Verna 1.6 CRDI SX',
       'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Ford Ikon 1.6 Nxt',
       'Tata indigo', 'Toyota Innova 2.5 V 7 STR', 'Nissan Sunny XL',
       'Maruti Suzuki Swift VDi BS IV',
       'very good condition tata bolts are av', 'Toyota Innova 2.0 G4',
       'Sale Hyundai xcent commerc', 'Maruti Suzuki Swift VDi ABS',
       'Hyundai Elite i20 Asta 1.2', 'Volkswagen Polo Trendline 1.5L D',
       'Toyota Etios Liva Diesel', 'Maruti Suzuki Ciaz ZXi Plus RS',
       'Hyundai Elantra 1.8 S', 'Ford EcoSport Trend 1.5L Ti VCT',
       'Jaguar XF 2.2 Diesel Luxury',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'BMW 3 Series 320d Sedan',
       'Maruti Suzuki Swift ZXi 1.2 BS IV', 'BMW X1 sDrive20d',
       'Maruti Suzuki S Cross Sigma 1.3', 'Maruti Suzuki Ertiga LDi',
       'Volkswagen Vento Comfortline Petrol', 'Mahindra KUV100',
       'Maruti Suzuki Swift Dzire Tour VDi', 'Mahindra Scorpio 2.6 SLX',
       'Maruti Suzuki Omni 8 STR BS III',
       'Volkswagen Jetta Comfortline 1.9 TDI AT', 'Volvo S80 Summum D4',
       'Toyota Corolla Altis VL AT Petrol',
       'Mitsubishi Pajero Sport 2.5 AT', 'Chevrolet Beat LT Petrol',
       'BMW X1', 'Mercedes Benz C Class C 220 CDI Avantgarde',
       'Volkswagen Vento Comfortline Diesel', 'Tata Indigo CS GLS',
       'Ford Figo Petrol Titanium', 'Honda City ZX GXi',
       'Maruti Suzuki Wagon R Duo Lxi', 'Maruti Suzuki Zen LX BSII',
       'Renault Duster RxL Petrol', 'Maruti Suzuki Baleno Zeta 1.2',
       'Honda WR V S MT Petrol', 'Renault Duster 110 PS RxL Diesel',
       'Mahindra Scorpio LX BS III',
       'Maruti Suzuki SX4 Celebration Diesel',
       'Audi A3 Cabriolet 40 TFSI',
       'I want to sell my commercial car due t',
       'Hyundai Santro AE GLS Audio',
       'i want sale my car.no emi....uber atta', 'Tata ZEST 6 month old',
       'Mahindra Xylo D2 BS IV', 'Hyundai Getz GLE',
       'Hyundai Creta 1.6 SX', 'Hyundai Santro Xing XL AT eRLX Euro III',
       'Hyundai Santro Xing XL eRLX Euro III',
       'Tata Indica V2 DLS BS III', 'Honda City 1.5 E MT',
       'Nissan Micra XL', 'Honda City 1.5 S Inspire',
       'Tata Indica eV2 eXeta eGLX', 'Maruti Suzuki Omni E 8 STR BS IV',
       'MARUTI SUZUKI ERTIGA F', 'Hyundai Verna 1.6 CRDI SX Plus AT',
       'Chevrolet Tavera LS B3 10 Seats BSII', 'Tata Tiago Revotron XM',
       'Tata Tiago Revotorq XZ', 'Tata Nexon', 'Tata',
       'Hindustan Motors Ambassador Classic Mark 4 – Befo',
       'Ford Fusion 1.4 TDCi Diesel',
       'Fiat Linea Emotion 1.4 L T Jet Petrol',
       'Ford Ikon 1.3 Flair Josh 100', 'Tata Indica V2 LS',
       'Mahindra Xylo D2', 'Hyundai Eon Magna',
       'Tata Sumo Grande MKII GX', 'Volkswagen Polo Highline1.2L P',
       'Tata Tiago Revotron XZ', 'Tata Indigo eCS',
       '2012 Tata Sumo Gold f', 'Mahindra Xylo E8 BS IV',
       'Well mentained Tata Sumo',
       'all paper updated tata indica v2 and u',
       'Maruti Ertiga showroom condition with',
       '7 SEATER MAHINDRA BOLERO IN VERY GOOD', '9 SEATER MAHINDRA BOL',
       'scratch less Tata I', 'Maruti Suzuki swift dzire for sale in',
       'Commercial Chevrolet beat for sale in',
       'urgent sell my Mahindra qu', 'Tata Sumo Gold FX BSIII',
       'sell my car Maruti Suzuki Swif',
       'Maruti Suzuki Swift Dzire good car fo', 'Hyunda',
       'Commercial Maruti Suzuki Alto Lxi 800', 'urgent sale Ta',
       'Maruti Suzuki Alto vxi t', 'tata', 'TATA INDI', 'Hyundai Creta',
       'Tata Bolt XM Petrol', 'Hyundai Venue', 'Maruti Suzuki Ritz',
       'Renault Lodgy', 'Hyundai i20 Asta',
       'Maruti Suzuki Swift Select Variant', 'Tata Indica V2 DLX BS III',
       'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
       'Toyota Innova 2.5 E 8 STR', 'Mahindra KUV100 K8 6 STR',
       'Datsun Go Plus', 'Ford Endeavor 4x4 Thunder Plus',
       'Tata Indica V2', 'Hyundai Santro Xing GL',
       'Toyota Innova 2.5 Z Diesel 7 Seater',
       'Any type car avaiabel hare...comercica', 'Maruti Suzuki Alto AX',
       'Mahindra Logan', 'Maruti Suzuki 800 Std BS III',
       'Chevrolet Sail 1.2 LS',
       'Volkswagen Vento Highline Plus 1.5 Diesel', 'Tata Manza',
       'Toyota Innova 2.0 G1 Petrol 8seater', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Maruti Suzuki Swift Dzire',
       'Hyundai i20 Select Variant', 'Honda City VX Petrol',
       'Hyundai Getz', 'Mercedes Benz C Class 200 K MT', 'Skoda Fabia',
       'Maruti Suzuki Alto 800 Select Variant',
       'Maruti Suzuki Ritz VXI ABS', 'tata zest 2017 f',
       'Tata Indica V2 DLE BS III', 'Ta', 'Tata Zest XM Diesel',
       'Honda Amaze 1.2 E i VTEC', 'Chevrolet Sail 1.2 LT ABS'],
      dtype=object)

## Quality

- names are pretty inconsistent
- names have company names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used', 'URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has 'Ask for Price'
- Price has commas in its prices and is in object
- kms_driven has object values with kms at last.
- It has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

## DATA BACKUP

In [12]:
backup=car.copy()

In [13]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

* year has many non-year values

In [14]:
car['year'].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [15]:
car=car[car['year'].str.isnumeric()]
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

# now change datatype int

In [16]:
car['year'].astype(int)

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [18]:
car['year']=car['year'].astype(int)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\152728128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [20]:
car=car[car['Price'] != "Ask For Price"]
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

*  we removed those rows having "ASK FOR Price"

In [21]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

NOw we want to remove commas in dataframe

In [22]:
car['Price']=car['Price'].str.replace(',','')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\2888702569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','')

* now change it to int

In [23]:
car['Price']=car['Price'].astype(int)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\1635868317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].astype(int)

In [24]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [25]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [26]:
car['kms_driven'].str.split(' ')

0        [45,000, kms]
1            [40, kms]
3        [28,000, kms]
4        [36,000, kms]
6        [41,000, kms]
            ...
886    [1,32,000, kms]
888      [27,000, kms]
889      [40,000, kms]
890           [Petrol]
891           [Petrol]
Name: kms_driven, Length: 819, dtype: object

In [27]:
car['kms_driven'].str.split(' ').str.get(0)

0        45,000
1            40
3        28,000
4        36,000
6        41,000
         ...
886    1,32,000
888      27,000
889      40,000
890      Petrol
891      Petrol
Name: kms_driven, Length: 819, dtype: object

In [28]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\995198746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

* now ther is some cateogorical data also 'Petrol'

In [29]:
car=car[car['kms_driven'].str.isnumeric()]
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [30]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\1713770885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [31]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [32]:
car[car['fuel_type'].isna()]

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [33]:
car=car[~car['fuel_type'].isna()]

In [34]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [35]:
car['name'].str.split(' ')

0        [Hyundai, Santro, Xing, XO, eRLX, Euro, III]
1                        [Mahindra, Jeep, CL550, MDI]
3      [Hyundai, Grand, i10, Magna, 1.2, Kappa, VTVT]
4              [Ford, EcoSport, Titanium, 1.5L, TDCi]
6                                        [Ford, Figo]
                            ...
883                  [Maruti, Suzuki, Ritz, VXI, ABS]
885                  [Tata, Indica, V2, DLE, BS, III]
886                          [Toyota, Corolla, Altis]
888                          [Tata, Zest, XM, Diesel]
889                            [Mahindra, Quanto, C8]
Name: name, Length: 816, dtype: object

In [36]:
car['name'].str.split(' ').str.slice(0,3)

0         [Hyundai, Santro, Xing]
1         [Mahindra, Jeep, CL550]
3           [Hyundai, Grand, i10]
4      [Ford, EcoSport, Titanium]
6                    [Ford, Figo]
                  ...
883        [Maruti, Suzuki, Ritz]
885            [Tata, Indica, V2]
886      [Toyota, Corolla, Altis]
888              [Tata, Zest, XM]
889        [Mahindra, Quanto, C8]
Name: name, Length: 816, dtype: object

In [37]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13516\3677590539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [38]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [39]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [40]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

* we can se our 75% car is less than 5lakh and maximum car price is 85 lakh so , definate ther is **outlier**.

In [41]:
car[car['Price']>5e6]

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

### this is the outlier , only one car is that above 50lakh price, so remove that outlier

In [42]:
car=car[car['Price']<5e6]
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

* now we can see in our data index is not  proper 
2,5,884,887 rows are droped , so we need to reset index

In [43]:
car.reset_index()

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

* previus index is also there so, to drop that we use (drop=True)

In [44]:
car=car.reset_index(drop=True)

## Now the above Data is clean
* save this data

In [45]:
car.to_csv("cleaned car.csv")

# MODEL

In [46]:
x=car.drop(columns='Price')
# Y is our Target column
y=car['Price']

In [47]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [48]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

The **train_test_split** function from the sklearn.model_selection module is used to split a dataset into two subsets: one for training a machine learning model and one for testing its performance. Here's a breakdown of how it works and what the code you provided does:

##### Inputs:

* x: The input features of the dataset (e.g., independent variables).
* y: The target variable (e.g., dependent variable) corresponding to the input features.

###### Parameters:

* test_size=0.2: This parameter specifies the proportion of the dataset to include in the test split. Here, 0.2 means 20% of the data will be used for testing, and the remaining 80% will be used for training.

#####  Outputs:

* x_train: The training set features.
* x_test: The test set features.
* y_train: The training set target variable.
* y_test: The test set target variable.

##### Process:

The function randomly shuffles the dataset and splits it into two subsets according to the specified test_size.

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [51]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [52]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

##### OneHotEncoder
* The OneHotEncoder is used to transform categorical data into a one-hot numeric array. This means it converts each category value into a new column and assigns a 1 or 0 (True/False) to the column.

* The OneHotEncoder from sklearn.preprocessing is used to convert categorical variables into a format that can be provided to machine learning algorithms to do a better job in prediction.

* Here’s a breakdown of the code you provided:

###### Import and Initialization:

**ohe=OneHotEncoder()**: This initializes an instance of the OneHotEncoder class.

###### Fitting:

**ohe.fit(x[['name','company','fuel_type']])**: This fits the OneHotEncoder to the specified columns in the dataset x, which are 'name', 'company', and 'fuel_type'.

## Creating a column transformer to transform categorical columns

In [53]:
from sklearn.compose import make_column_transformer
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

###### OneHotEncoder:

**OneHotEncoder(categories=ohe.categories_)**: This uses the categories learned from the previous ohe.fit call to ensure consistent encoding.when TEST_data has some Categories that not in Train_data then model will through an error so to resolve it ,WE are passing ALL the categoriesto OneHotEncoder ,so that it know all the categories.


* ['name','company','fuel_type']: These are the columns to which the one-hot encoding will be applied.

###### Remainder:

remainder='passthrough': This indicates that all other columns not specified in the transformer should be passed through without any transformation.

#### Linear Regression Model

In [54]:
lr=LinearRegression()

### making pipeline

In [55]:
from sklearn.pipeline import make_pipeline
pipe=make_pipeline(column_trans,lr)

##### Pipeline:

**make_pipeline(column_trans, lr)**: This creates a pipeline that first applies the column transformer (column_trans) to the data and then fits the linear regression model (lr) to the transformed data.

In [56]:
pipe.fit(x_train,y_train)

C:\Users\ADMIN\AppData\Roaming\Python\Python311\site-packages\sklearn\compose\_column_transformer.py:1624: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [57]:
y_pred=pipe.predict(x_test)

In [58]:
y_pred

array([ 107290.06686668,  574380.15344162,  162875.32418974,
        440047.76716995,  589515.56709245,  350986.70982644,
       -222868.25527519,  775330.26595461,  367090.42449535,
        180443.53054962,  408761.13916324,  225974.21758334,
         40241.56266013,  282352.64257276,  290480.7291944 ,
        224603.36738126,  775330.26595461,  209099.19051485,
        355974.94008745,  576722.48283845,  288841.41324256,
        431058.18088791,  314402.76945198,  452800.0281083 ,
        232787.78723024,  274607.68688615,  -30478.85401224,
        234868.20923527,  113410.17996953,  670571.6975361 ,
        605159.1551784 ,  274440.40748075,  414552.76543705,
        718607.36099982,   63434.21376289,  790735.42817482,
        180443.53054962,  129367.77775346,  571722.50169124,
        406618.8086469 ,  610014.39034849,  131601.94989887,
        419556.4834605 ,   20306.41128978,  623323.42552026,
        197282.21602678,  608550.11307497,  374206.04208532,
        -70267.23816746,  -62429.59215941,   -8713.47546297,
        289303.24021946,  260982.19058295,  314402.76945198,
        488785.37094988,  614357.50586857,  198824.73468436,
        190757.19098337,  151595.00205757,  546534.42655265,
        341172.70876376,  570728.96653174,  -76130.44971815,
        447763.42969017,  974436.31624645,  386443.23473458,
        678822.43274541,  532481.75617133,  458272.23721217,
        496002.14573368,   63679.35997245,  319014.54400747,
        273942.32803276,  323111.09864727,  620396.54600146,
        275908.40793568, 1566653.35342512,  208526.14674154,
        314119.92240635,  -10058.68190104,  483196.04529163,
        -42026.95237504,  135615.21544439,  209099.19051485,
        380862.47011416,  354418.19644457,  473558.2527058 ,
        290913.81690823,  355446.84476696,  601820.05703247,
        320436.25491431, 1564084.44592771,  532580.63027009,
        577236.26433793,   41166.83757734,  357960.21743008,
        392290.62821864,  370489.57893476,  409308.31388392,
        227139.97724339,  330373.27183032,  390994.92623129,
        467541.37050268,  286734.33272205,  113841.67933691,
        131319.46900192,  309325.54520802,  332242.44317757,
       1129191.9478389 ,  164481.0967799 ,  129648.55913424,
        200452.13818212,  273323.23313744,   92885.88891044,
        766852.87121318,  350986.70982644,   88279.91187184,
       1999367.55602986,  293482.72440563,  369501.30618523,
        362967.61260849,  169049.28636447,   96974.54486254,
       1094328.45935246,  416366.87868732,  447555.93736662,
        440308.95635854,  342457.16251247,  194386.12959683,
        661082.10554536,  411809.05172488,  108616.24232012,
        254725.97927216,  218165.43053275,  137717.34557158,
        321319.63854519,  317944.96393827,  110553.08562051,
        769469.76573665,  415761.82969113,  571019.43311113,
        -48449.22111855,  246541.03629698,  246704.87154754,
        473558.2527058 ,  728359.50003055, 1093622.1457196 ,
        974436.31624645,  163562.1802859 ,  394861.72886351,
        142424.10074793,  273976.34228177,  246253.74033   ,
        -27273.32654919,  601820.05703247,  599182.66401273,
        348733.74248512,  172373.99283889,  460268.31462972,
        458624.34046754,  296431.88094896,  570728.96653174,
       -207995.54089271])

### Checking R2 Score

In [59]:
r2_score(y_test,y_pred)

0.7202421801242185

### Finding the model with a **random_state** of TrainTestSplit where the model was found to give almost max as r2_score

In [60]:
score=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

* The provided code is performing a robustness check by evaluating the performance of a linear regression model using cross-validation. Specifically, it repeatedly splits the dataset into training and testing sets, fits a linear regression model on the training set, and then evaluates it on the testing set, storing the R² scores for each iteration.
#### The random_state=i parameter in the train_test_split function ensures reproducibility by using a different seed for each iteration (from 0 to 999). This creates a different train-test split in each iteration, allowing the evaluation of the model's performance across various splits of the data.

In [61]:
import numpy as np

In [62]:
score

[0.65904340985128,
 0.4786077705982854,
 0.6207397118009343,
 0.5579870665329281,
 0.8188990179537847,
 0.7012191182904144,
 0.6276411147562568,
 0.6298988161339314,
 0.6720593531841353,
 0.5699706186481448,
 0.690335291187411,
 0.6086162217817972,
 0.4570484170741722,
 0.6674974737564106,
 0.6170174018837029,
 0.6437592782414592,
 0.487918737878307,
 0.665781686638292,
 0.6089308043982451,
 0.6399079124528706,
 0.6410698305676144,
 0.6211061369369246,
 0.7366487917219445,
 0.6403322118603012,
 0.5492186553108053,
 0.49869268006431333,
 0.6732783661733807,
 0.7035575081778327,
 0.7254702882278911,
 0.6010278527587157,
 0.6245205740233757,
 0.6330326182237591,
 0.7538194403080943,
 0.7854163896180785,
 0.5622422525927935,
 0.6813027297030931,
 0.5826069980673123,
 0.6170328901097296,
 0.5392911744896974,
 0.7164024663582518,
 0.3292142123193882,
 0.6733754296713984,
 0.573130456899225,
 0.6793103711902542,
 0.6604128295732372,
 0.6975060730887681,
 0.5258728734358504,
 0.58818260334462,
 0.7644775925745053,
 0.6861752989832435,
 0.503803010642691,
 0.5899074173951813,
 0.6325553760543899,
 0.6638264420468625,
 0.5876694600719213,
 0.6974896482054411,
 0.7171655784778428,
 0.7195077216538135,
 0.7236410174401353,
 0.484279308590554,
 0.584979014040321,
 0.5244383707616304,
 0.43303679948782925,
 0.618866797848769,
 0.6074608554047158,
 0.6416930884061187,
 0.4810326942851979,
 0.6591053457974428,
 0.6214561905649488,
 0.7354799842261854,
 0.6997032821877254,
 0.7185318254697344,
 0.5796483526470143,
 0.6844230190798004,
 0.5518182120961944,
 0.5835157348348387,
 0.44928716305176053,
 0.6012206048251555,
 0.5737924547249174,
 0.646086284935169,
 0.5869393411027406,
 0.6064540021163902,
 0.6758268610700406,
 0.728025997282646,
 0.6389512001499547,
 0.6359248620210647,
 0.6851984151253652,
 0.5373829197944295,
 0.6029460715076935,
 0.6383903717574609,
 0.6810334082922063,
 0.6065440801710595,
 0.6883391128720903,
 0.4945051994122097,
 0.6330959266698619,
 0.6566184230754877,
 0.6361680526845843,
 0.6856534690296063,
 0.6752226783905926,
 0.587883174803639,
 0.6899673597085463,
 0.6600088855265335,
 0.6837437111709193,
 0.5929728052959435,
 0.7041032922417447,
 0.5728545764876454,
 0.6078638645063681,
 0.5673198893412903,
 0.5850670691800094,
 0.71070657590947,
 0.6766989192636637,
 0.6610303711410686,
 0.49788325448861215,
 0.6955904746894732,
 0.7120288935053006,
 0.5999534676089573,
 0.590266369071101,
 0.6525838866954861,
 0.5258342819462608,
 0.7228351047474486,
 0.6582090375445099,
 0.6349650745757748,
 0.7076120157929765,
 0.6261132397903211,
 0.8422789818473703,
 0.6810057581048382,
 0.6376078513284626,
 0.6239448364424274,
 0.5639628308093672,
 0.5504025748016701,
 0.6062834653010831,
 0.5323774838295274,
 0.6578315002119081,
 0.5821825852790452,
 0.7645334222285347,
 0.7842210863714202,
 0.5440257606691536,
 0.7128708206178739,
 0.6644187019231886,
 0.5591633276497784,
 0.7181510747193293,
 0.5867011310260275,
 0.6612391579616692,
 0.6899727161329458,
 0.624464084851212,
 0.5545969891154825,
 0.635957763439089,
 0.588059593355282,
 0.5634953461368718,
 0.606729986818376,
 0.6277548200873988,
 0.7724604281973879,
 0.565648411999703,
 0.501167829098484,
 0.6340871749353567,
 0.7027634757007892,
 0.4124382421530498,
 0.7474509597852436,
 0.6459460001714739,
 0.6780658713897973,
 0.6478297547103569,
 0.5931816081561186,
 0.6397624590921407,
 0.5706310231930956,
 0.5816464469249905,
 0.6902383161785429,
 0.6536608665357814,
 0.4880057175108967,
 0.5687739737218389,
 0.6962727022364358,
 0.6766187423767798,
 0.6497546082812513,
 0.8197073771799164,
 0.7190152206080809,
 0.5426803167569155,
 0.6143159609110348,
 0.6559111712856572,
 0.611300924534278,
 0.7144338056661146,
 0.7270338703719433,
 0.6454884437106001,
 0.6170190962857844,
 0.6744873596712664,
 0.6390100176439686,
 0.5047975299350633,
 0.6668465995702182,
 0.7358335585778923,
 0.6445082159195363,
 0.6900072506268673,
 0.5728792607767046,
 0.7036219871945286,
 0.6617988534339102,
 0.5791587302941712,
 0.6911024787172897,
 0.7292968765635814,
 0.6272117679286942,
 0.6316330677448816,
 0.7493955338417357,
 0.4022988377970087,
 0.710069716118111,
 0.70750821965385,
 0.4557787418342676,
 0.6277359572171695,
 0.784728931178272,
 0.5829522598003491,
 0.7094157189346596,
 0.7760333842548913,
 0.5815043882678648,
 0.6767722429566111,
 0.30062546357279696,
 0.49255330318028145,
 0.49923418754345583,
 0.5691121704846758,
 0.6185912778525844,
 0.6759169191899386,
 0.6179240991827811,
 0.5303194140028391,
 0.5990510109384811,
 0.5417920547066746,
 0.5541464020190302,
 0.5905288591756173,
 0.6817328983718245,
 0.4755476149155664,
 0.4958801065078188,
 0.5517296005950748,
 0.7244191769347414,
 0.7405941183752578,
 0.6361920217191928,
 0.7309088092556908,
 0.5701486117030992,
 0.5502667048340528,
 0.5937319549071609,
 0.630788365463441,
 0.440730480603474,
 0.7244783951314817,
 0.5867091621233635,
 0.6956470587505177,
 0.609112979869078,
 0.5211165826654603,
 0.5940613991324085,
 0.5705559156530469,
 0.4845467190884599,
 0.5394828467935304,
 0.6399685402186311,
 0.49584915813858554,
 0.7214372832598208,
 0.7795944121117875,
 0.7463355926897657,
 0.7800211824777104,
 0.5432539251801146,
 0.6070362613413787,
 0.5083576587480725,
 0.5594145324095219,
 0.6510057679854864,
 0.5879519445468755,
 0.7699541225103773,
 0.5590815036580465,
 0.6989338078738503,
 0.6602029577882728,
 0.5644374498314344,
 0.715424766860126,
 0.7522281017219434,
 0.7729689665459569,
 0.7215983476455932,
 0.6348922922538125,
 0.5747332082997267,
 0.6543561295207689,
 0.6530249527850945,
 0.4747715884749443,
 0.552622642874609,
 0.627223615393986,
 0.5494197257933493,
 0.6220760158835998,
 0.6178949258480113,
 0.7186346319605706,
 0.6257076819743284,
 0.7534603575435306,
 0.6969320998051591,
 0.6521850005145304,
 0.7884376680112035,
 0.6615788608320059,
 0.6544996591398633,
 0.6888537527688272,
 0.734451344613055,
 0.7173657358471306,
 0.5664096425792255,
 0.7224678307105306,
 0.5928083072894103,
 0.38943287314885355,
 0.4518401721202595,
 0.5197133869625836,
 0.6944151723850005,
 0.5406963194474115,
 0.7486071229411417,
 0.8132302266737947,
 0.6309584925023498,
 0.7431532787000887,
 0.7010563889053114,
 0.5331155240840889,
 0.6644238569601842,
 0.7691084079851801,
 0.6807436381649583,
 0.76349261540293,
 0.48724705690965875,
 0.605278047267328,
 0.5854645079232268,
 0.7821540594266915,
 0.6918160516725959,
 0.6490508213919486,
 0.6969550044321318,
 0.6748683420988383,
 0.6196321599448842,
 0.5083449109368876,
 0.4994026476757554,
 0.5452743695460014,
 0.737494696733278,
 0.5935679138583415,
 0.6074435926828612,
 0.6538557582329283,
 0.5117569292268591,
 0.47565690628439716,
 0.5931407165161838,
 0.5331227798555664,
 0.5823425268267957,
 0.619673752166698,
 0.5365594007965565,
 0.5928949608315491,
 0.7232981433321648,
 0.6937534028058983,
 0.5143726095514547,
 0.6556140946897082,
 0.4971665510619898,
 0.5945477531373405,
 0.5731334088125082,
 0.6980943841884715,
 0.6015722768478067,
 0.5097579789568114,
 0.6708965370053956,
 0.6187061292185366,
 0.5842700239942107,
 0.7399105059992201,
 0.7318995689750012,
 0.5998977013572251,
 0.67141456176687,
 0.691460165724785,
 0.6448579370857936,
 0.6674244954197481,
 0.5894997893193079,
 0.7202888371452038,
 0.6094587962760514,
 0.7436080526999786,
 0.707462824691342,
 0.5742475469437607,
 0.4602966792267982,
 0.7286210798037455,
 0.6677650925965093,
 0.698496826044314,
 0.6428654129298241,
 0.7076211297759831,
 0.5834058403164577,
 0.7068004946014393,
 0.6771849101392781,
 0.5386044166303621,
 0.6883133883049093,
 0.7148437833054337,
 0.5634832968566097,
 0.6861731667779849,
 0.4646377279115603,
 0.7160555024208195,
 0.7339000624576236,
 0.7035316444715647,
 0.6248858608354377,
 0.6434355352462482,
 0.6579452018329552,
 0.5145935930859344,
 0.5618551798813458,
 0.6845766409522722,
 0.5357061926120232,
 0.7351618948300979,
 0.7702326926417967,
 0.6426467531422937,
 0.70291018777051,
 0.6750444577810064,
 0.8049285402054238,
 0.6887422891667807,
 0.7047061613134629,
 0.6714833151388859,
 0.5959542069610493,
 0.5647715639139592,
 0.4138492411242516,
 0.7343213603519723,
 0.562198254773026,
 0.8082373664542493,
 0.3785470202176605,
 0.6367626602328731,
 0.7293079431660668,
 0.5506438793234989,
 0.5941475083706996,
 0.7003043515903907,
 0.7159752504240191,
 0.6460627156741783,
 0.5754705005504386,
 0.5587857012416682,
 0.4976694724961246,
 0.5772810393553265,
 0.5776476252972058,
 0.5744942176289562,
 0.6245009196732457,
 0.7037013208617334,
 0.6685630661248507,
 0.6861723691588246,
 0.6551387105099719,
 0.6450687494367363,
 0.5171903538420969,
 0.5840137481875577,
 0.5402240021295698,
 0.47025946735030555,
 0.6928246192164027,
 0.6768339738919044,
 0.6701711175228677,
 0.7213281102858229,
 0.6704151789678078,
 0.6885996648079621,
 0.662102416611104,
 0.628124723194655,
 0.5793662267281745,
 0.43451592279273776,
 0.7388593127397469,
 0.5300829290205624,
 0.6585741969990282,
 0.6816440402216304,
 0.7746361114649061,
 0.6488093539730155,
 0.8456957793726847,
 0.607135503446014,
 0.776316917170342,
 0.5834778711404276,
 0.7169049330835524,
 0.6305341016023931,
 0.7228106034033017,
 0.6412032638273084,
 0.6707721750236961,
 0.5887864369411584,
 0.8022424318517319,
 0.7720445359848381,
 0.742760791836542,
 0.7448690100052726,
 0.6240965947497448,
 0.5660109385793795,
 0.7531338969962502,
 0.7764907345960042,
 0.5497010910487488,
 0.5774282092866563,
 0.6333069247600316,
 0.659694986358264,
 0.6403479466695535,
 0.5000829415371941,
 0.5133048981595223,
 0.729561979384647,
 0.6464354570087423,
 0.7460844706928493,
 0.616570607485426,
 0.5891640240986447,
 0.7732922876295076,
 0.5066592992545562,
 0.6222085845996075,
 0.6576390837622288,
 0.5990026411205973,
 0.6754514758054909,
 0.6498766047061346,
 0.49056757959950015,
 0.5428084937396288,
 0.35081966737286363,
 0.708148260083671,
 0.7031306728149007,
 0.7536453555856593,
 0.6048405777183989,
 0.626673622449023,
 0.7329137056293498,
 0.5342046831938349,
 0.5502771873883948,
 0.6002174284947475,
 0.6092396252457168,
 0.5348726449891723,
 0.5553446590163462,
 0.517793803223271,
 0.6340285505912677,
 0.5880078418637702,
 0.7401115987015013,
 0.6327608952346938,
 0.5310176961872676,
 0.776277227616658,
 0.603200047042716,
 0.6034533008529092,
 0.6711138468754665,
 0.5492093133090539,
 0.7010632934267419,
 0.649824050157501,
 0.6755895818080275,
 0.7796254108854107,
 0.6825388917997958,
 0.6022516841841788,
 0.5605432980679501,
 0.6311943315748011,
 0.49635877607494605,
 0.6725342355362938,
 0.6769800418352077,
 0.7637913509567331,
 0.7076213616170146,
 0.6534876185172165,
 0.6423780257400009,
 0.6306861812282595,
 0.6376780805790438,
 0.7256332351316426,
 0.6603965730113872,
 0.7836317554693673,
 0.7193172544578685,
 0.7590702847732622,
 0.5945173550062779,
 0.6750578195977106,
 0.694156571473717,
 0.6850314106749702,
 0.49788312485904374,
 0.5697426581757905,
 0.5324666565014278,
 0.4815699386282811,
 0.6351728909074068,
 0.6890606395054645,
 0.7635486239049455,
 0.6536095961286275,
 0.627730013531524,
 0.5634858585095457,
 0.6366723459587079,
 0.7375713197138778,
 0.5088001733614964,
 0.579478957308316,
 0.6378199385721655,
 0.5419202136568126,
 0.6777318710061729,
 0.6182221883801235,
 0.6923210368065265,
 0.6551491669829378,
 0.6790206854684835,
 0.551884963475552,
 0.6959098988864536,
 0.46342758455004107,
 0.7137985845667378,
 0.33754191493819286,
 0.7312966799395504,
 0.5020494252319329,
 0.6214094421710419,
 0.6739339272431559,
 0.5846645773802199,
 0.7245009842430989,
 0.6197144360405066,
 0.7147223718429878,
 0.555404270815675,
 0.5143997832464069,
 0.6955355991088887,
 0.7086472258577046,
 0.6142365995569428,
 0.49349104500214924,
 0.7054125376958265,
 0.5894379489924297,
 0.658529168133112,
 0.6745163128023283,
 0.793826978050493,
 0.6601668503177732,
 0.7188429769716792,
 0.6155610883694815,
 0.640323132191758,
 0.6471714012041992,
 0.6854421131754155,
 0.6243978810118032,
 0.5745499198016635,
 0.6950637764566996,
 0.678493733237366,
 0.7610794525864666,
 0.6667139933053123,
 0.6318015327931769,
 0.5933228809713781,
 0.6460790127847134,
 0.4972001370042335,
 0.6130600679940396,
 0.5218605920526178,
 0.5789897321300628,
 0.6937900784684468,
 0.6272763433060782,
 0.7001373085600895,
 0.6931708306254187,
 0.5897007428780764,
 0.6971639740445912,
 0.7226471822980194,
 0.7177862798410046,
 0.6047828888593286,
 0.3874679951381238,
 0.558115291293745,
 0.5619943277122391,
 0.5642507020067338,
 0.5257323364195081,
 0.5223989423971461,
 0.5706139589286757,
 0.7245424206852266,
 0.5869202978881969,
 0.5776630014467181,
 0.7394424467986536,
 0.48602124855582174,
 0.6077811757589406,
 0.6830894138581391,
 0.6050562017025878,
 0.48944977184073357,
 0.5865672639273546,
 0.617674818046837,
 0.604141577300037,
 0.6678840704101022,
 0.5918434747113065,
 0.3713083554190112,
 0.5820583423693491,
 0.6802624869981775,
 0.6069180324696164,
 0.5097630645154112,
 0.7211329234773385,
 0.6029909527768779,
 0.5126669056147306,
 0.7558125210801565,
 0.595868023930738,
 0.6937012911556586,
 0.5130741051180223,
 0.6716549439381438,
 0.6444118703746633,
 0.5865372447119548,
 0.7151147975135823,
 0.6838335110035335,
 0.6432827221080546,
 0.5160370514097339,
 0.5842519938554818,
 0.6789864140142841,
 0.6658592917831793,
 0.7537859371547604,
 0.550556134226236,
 0.565106797876589,
 0.6711255321808134,
 0.6812878944935474,
 0.6024227281636575,
 0.484965690294619,
 0.6955460945669405,
 0.5976924413435276,
 0.46293647161058804,
 0.6039385412794118,
 0.6484656569768503,
 0.6762071358872825,
 0.5878807019111889,
 0.7503715100866145,
 0.757299259188231,
 0.6503088087769024,
 0.6499171832727942,
 0.5854976817062503,
 0.4607716374520038,
 0.6752832549690938,
 0.6681531891938362,
 0.7254311016530703,
 0.7687542780457798,
 0.548391694618054,
 0.515185089257977,
 0.47985925531579854,
 0.670952105138676,
 0.6208276752209254,
 0.6989242268586723,
 0.7160618866721464,
 0.7371365721728469,
 0.7503695018336862,
 0.5103122030314351,
 0.665055544309717,
 0.7328516303255661,
 0.6646709555919201,
 0.6288947155114073,
 0.6620486916276824,
 0.5502880567513768,
 0.7178062601993238,
 0.6584836531252083,
 0.6164025002120902,
 0.5444247196201,
 0.7208101706734652,
 0.6986332647960409,
 0.5897475297067756,
 0.6219807156762092,
 0.8314099654173444,
 0.6331081416633306,
 0.5680632078078853,
 0.7932078630392569,
 0.5917959040562881,
 0.6814898143279505,
 0.634080213993024,
 0.6541974777432891,
 0.6917194939479789,
 0.7115352568408645,
 0.6630983165555473,
 0.5533631909270821,
 0.7515621155509442,
 0.6663046851753593,
 0.47695297380095014,
 0.7031616921579933,
 0.5916832609924042,
 0.7293603320079666,
 0.5353169246166176,
 0.6457144090855153,
 0.7337114910790412,
 0.66044884855162,
 0.6549677164389992,
 0.533308847642832,
 0.647801052473348,
 0.7143613250115483,
 0.8112919815261498,
 0.7841009734377941,
 0.6574280037875807,
 0.6778596123876444,
 0.7205779105725183,
 0.7319432350750597,
 0.34219982022566553,
 0.6459207096066729,
 0.5545728499966533,
 0.5874068556523311,
 0.676905184523559,
 0.6739980574760585,
 0.6442611375570801,
 0.6219860957787777,
 0.6521254858087491,
 0.6891915156719377,
 0.597720970323701,
 0.5800270920515944,
 0.7506846279589481,
 0.5286064479212644,
 0.79403527117717,
 0.671957985497168,
 0.5889079900586676,
 0.5639738870311756,
 0.6129804355168658,
 0.5038425602111244,
 0.7228218227242618,
 0.5987533179245833,
 0.6594130588752312,
 0.5937141573551725,
 0.7512084099131114,
 0.7536489629791316,
 0.5576431268416935,
 0.6130936108282941,
 0.6535411907282314,
 0.5529672594241828,
 0.5925675966412058,
 0.5104294957238404,
 0.5512360719468008,
 0.7059006763968654,
 0.7640498953085176,
 0.6888360555742783,
 0.7142580141376391,
 0.6159323468417355,
 0.6012469309784688,
 0.7491313028931808,
 0.6223548970773345,
 0.6331483755919475,
 0.6523300607206213,
 0.6657410628481265,
 0.7119969367573176,
 0.6430740017826231,
 0.6178699097353602,
 0.6603766130241341,
 0.6258620575748142,
 0.6269057070414269,
 0.5343840660883488,
 0.757842086276977,
 0.6648334149967682,
 0.6976648623600039,
 0.6815919672249857,
 0.6080223253526479,
 0.5576106216841155,
 0.5850876323353419,
 0.5554996317354357,
 0.36292080118656134,
 0.7045028088615509,
 0.6518839390566307,
 0.6924168824024015,
 0.8052684849554507,
 0.7109301244846464,
 0.7833769712250787,
 0.6410483637523323,
 0.634194425304429,
 0.6375291045777132,
 0.6474833413287033,
 0.7001453853104638,
 0.44968213387063705,
 0.718945213443475,
 0.7028843416281803,
 0.7349848528821862,
 0.7383100201215134,
 0.6578211420437066,
 0.5611756214065027,
 0.7151122359153756,
 0.6066222797097065,
 0.6345111608068622,
 0.7506545593956918,
 0.6255396192754503,
 0.5052793304590129,
 0.6130815595712942,
 0.6533178217881879,
 0.5479673417811388,
 0.5977232017652967,
 0.6454880654912379,
 0.7460035296734451,
 0.3888174331365971,
 0.5655409549333048,
 0.5549722037397715,
 0.6485787496203128,
 0.7018599584009642,
 0.5259323638398715,
 0.7881403584380235,
 0.6277884396710858,
 0.5990408486440605,
 0.7028412166491073,
 0.6568871528738716,
 0.6629567143236457,
 0.5587356510877803,
 0.7774380166576927,
 0.6599147810198578,
 0.595093821207983,
 0.4478604001160892,
 0.7238713408469863,
 0.6643165614600917,
 0.7601265445808616,
 0.6538945307852564,
 0.6379869483282432,
 0.4764476505448638,
 0.7088493268621845,
 0.7995456934189409,
 0.5773710540284445,
 0.7173142191391306,
 0.6402426220700232,
 0.5743017733595079,
 0.6388392274320303,
 0.6208492954371745,
 0.5931316988240135,
 0.7293316470644132,
 0.7584340266397713,
 0.7251641266895903,
 0.7081154710033439,
 0.6551180041283542,
 0.49467808337409636,
 0.6089793621171915,
 0.613270421618253,
 0.5751251409757987,
 0.6889243495497442,
 0.7279486321347541,
 0.6005425133341877,
 0.6430394682400531,
 0.643624963574124,
 0.5516969308974319,
 0.6320968583496682,
 0.5420564687524676,
 0.5023310503268569,
 0.7453620180703933,
 0.5257610382017104,
 0.7757628928571243,
 0.5752538789978024,
 0.6707835909037523,
 0.5781318935352059,
 0.666896361292862,
 0.5591810489509178,
 0.6230111093131092,
 0.6024041244477165,
 0.5550406625585893,
 0.6332068531927602,
 0.5749145712850923,
 0.4671164053841629,
 0.678435605697917,
 0.6209531719256373,
 0.6865054066090591,
 0.6563658178134434,
 0.6613805140110918,
 0.5437732032969873,
 0.6309381538639435,
 0.6404612323256373,
 0.7039340629842474,
 0.6991612175395486,
 0.6545516801877458,
 0.7042351953653029,
 0.7370913305807135,
 0.6279876599577314,
 0.5393493015771109,
 0.7145677319693278,
 0.5720014267869257,
 0.5825602712903568,
 0.6714861540018942,
 0.5280736590533054,
 0.6838863505410508,
 0.6455204440986797,
 0.5129289622528177,
 0.48110540222196596,
 0.5208024449638622,
 0.6927503561767966,
 0.7568282484800537,
 0.5833683323888114,
 0.6878242441724673,
 0.6560510979531344,
 0.5600739783235357,
 0.7888349948069988,
 0.7050246189423015,
 0.5950535915938229,
 0.785445264336574,
 0.6507849677381075,
 0.6795965280081266,
 0.6792419396987301,
 0.7204487860093152,
 0.6962309072302235,
 0.5240236365331108,
 0.5751978874364401,
 0.6600118969334466,
 0.6829904073311904,
 0.49777499918337687,
 0.503226641019266,
 0.7352989733074042,
 0.46678022127040253,
 0.5182993795114987,
 0.6598285146636027,
 0.7814108572483142,
 0.6534042045673856,
 0.6079750217217588,
 0.5697448265513683,
 0.7873681740816546,
 0.6576633927784921,
 0.6737455800961455,
 0.7424394051170117,
 0.5259758588048488,
 0.7026307454951554,
 0.4956766614123428,
 0.6945721142637327,
 0.6326746069569265,
 0.5527756656272461,
 0.6196251449424184,
 0.553088315349098,
 0.7529946817807203,
 0.5117873013799191,
 0.5462815181399386,
 0.5606352235199223,
 0.6918309550198256,
 0.6340880757702401,
 0.6703275455213373,
 0.7404779716854788,
 0.5021937735830087,
 0.5741953078880873,
 0.6728829474911008,
 0.7069524972439027,
 0.49870726638194696,
 0.6103549974290299,
 0.7186894962073428,
 0.6509016777537312,
 0.6502765028767783,

In [63]:
np.argmax(score)

433

In [64]:
score[np.argmax(score)]

0.8456957793726847

#### The best model is found at a certain random state

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(score))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8456957793726847

### Now make a predict with Random DATA

In [67]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=x_test.columns))

array([458934.66740154])

### Save the pipeline using pickle

In [68]:
import pickle

In [69]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

* The provided code serializes(saves) the trained pipeline object to a file using the pickle module. Here's a precise explanation:

**pickle.dump:**
This function serializes the object (in this case, pipe) and writes it to a file.
###### Parameters:
* **pipe:** The trained pipeline object that you want to save.
* **open('LinearRegressionModel.pkl', 'wb'):** Opens a file named LinearRegressionModel.pkl in write-binary mode ('wb'), preparing it to store the serialized object.